<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Masonrytest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A3B896F02C8FF9D200E35443</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3B8970B2C8FF9D500E35443</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3B897152C8FF9D500E35443</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
